$primary: #ff5400 !important;
$primary-hover: #ffa700 !important;

$text-primary: #fff !important;
$text-secondary: #909090 !important;

$border-primary: #3d3d3d !important;
$border-secondary: #474747 !important;

$background-primary: #272727 !important;
$background-secondary: #1d1d1d !important;
$background-tertiary: #101010 !important;
$background-quaternary: #3d3d3d !important;
$background-quaternary__blur: #3d3d3d10 !important;

$success: #69af00 !important;
$danger: #ff0a4e !important;